/* BROWSER RESET */
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html { 
    font-size: 62.5%;
    background-color: rgb(92, 91, 91); }

body { box-sizing: border-box; }

.signup--container {

    width: 40%;
    border: 1px solid white;
    margin: 2rem;
    padding: .5rem;

    position: absolute;
    top: 9%;
    left: 25.5%;

    font-family: Arial, Helvetica, sans-serif;
    background-color: #3d3d3d;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.22);
}

#signup-form-heading {
    background: linear-gradient(to right bottom, #1bd1d1 5%, #22c4c4 100%);
    text-align: center;
    text-transform: uppercase;
    color: rgb(92, 91, 91);
    font-size: 2rem;
    font-weight: 200;
    padding: 2rem;
    margin-bottom: 2rem;
}

.form-style input[type="text"],
.form-style input[type="email"],
.form-style input[type="password"] {
    outline: none;
    display: block;
    width: 70%;
    padding: 1rem;

    margin-left: 15%;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
}

.form-style input[type="button"] {
    box-shadow: inset 0px 1px 0px 0px #45d6d6;
    background-color: #2cbbbb;;
    border: solid 1px #27a0a0;
    cursor: pointer;
    margin: 1rem auto;
    border-radius: 25px;
    padding: .7rem 1rem;
    font-size: 1.3rem;
    text-decoration: none;
    letter-spacing: .2rem;
    text-transform: uppercase;

}
.btn {
    position: relative;
    top: 50%;
    left: 40%;
}

.btn:hover {
    background: linear-gradient(to bottom, #34caca 5%, #30c9c9 100%);
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active {
    transform: translateY(-1px); /* -1 is in relation to the initial state not the -3px state */
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn, 
.btn:focus,
.btn:active,
.btn:hover {
    outline: none !important;
}